@media screen and (max-width: 430px){
    
    .bg{
        background-size: 100%;
    }

    .heading{
        padding-bottom: 130px;
    }
    img{
        height: 300px;
    }
    .search{
        margin: 0px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .container{
        padding-left: 0px;
    }

    .container div{
        text-align: center;
    }

    .search p{
        width: 100%;
        padding: 0px 25% 0px 25%;
        text-align: center;
    }

    .trending{
        padding: 15px 0px;
        text-align: center;
    }

    input{
        padding: 10px 0px 10px 10px;
        width: 200px;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .heading h1{
        font-size: 40px;
        padding-right: 250px;

    }

    li{
        font-size: 10px;
    }    

    .search p{
        font-size: 10px;
    }

    p{
        font-size: 12px;
    }
}
